.InventoryListItems {
  border-radius: 5rem;
  border-color: #021010;
  background-color: #012929;
  border-width: 10px;
  height: 50px;
  font-size: 18px;
}

.Inventory {
  width: 100%;
  color: #9ce6b7;
  /* margin-top: 8%; */
  border-radius: 15px;
  font-size: 18px;
}

.InventoryListItems td:first-child,
th:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.InventoryListItems td:last-child,
th:last-child {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  width: 7%;
}
