.widget-1 {
  background-color: #012929;
  border-radius: 15px;
  height: 388px;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin: 30px 0 0 0;
}

.widget-2 {
  background-color: #248277;
  border-radius: 15px;
  height: 125px;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin: 30px 0 0 0;
}
.widget-3 {
  background-color: #012929;
  border-radius: 15px;
  height: 650px;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin: 30px 0 0 0;
}
.dashboard-main {
  height: 100%;
}
.stat-number {
  font-size: 70px;
}
